<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>
		home
	</title>
	<link rel="stylesheet" type="text/css" href="/static/home.css">

</head>
<body>
{% block content %}
<form action="" method="post">

{% csrf_token %}
<div class="example">
<center><h1  style="color:dodgerblue;">&nbsp;&nbsp;&nbsp;&nbsp;welcome {{ fullname }} </h1></center>

    <ul id="nav">
	
    
        <li class="current"><a href="/">Home</a></li>

        {% if fullname == 'Guest' %}
        <li><a href="/login/">Login</a></li>
        <li><a href="/accounts/register/">Register</a></li>
        {% endif %}

        {% if fullname != 'Guest' %}
            <li><a href="/accounts/logout/">logout</a></li>
        <li><a href="/accounts/uploaded/">uploaded</a></li>
        <li><a href="/accounts/upload">Add new Comic</a></li>
        {% endif %}
        <li><a href="#">About</a></li>



    </ul>
<div class='col-sm-8 col-sm-offset-2' style="margin-top:50px">
<h3><center>Comic</center></h3>
{% for i in obj %}

   <div class="col-sm-12">
     <div class="thumbnail">
	   <div class="caption">
	   {% if i.fileup %}
     <img src='{{i.fileup.url}}' height='100px' width='150px' align="right"/>
	 {% endif %}
   <h3>title:{{ i.title }}<small>&nbsp;&nbsp;&nbsp;</small></h3>
   <p>author:{{ i.author }}</p>
   <p>uploader:{{i.userdatabse.user.username}}</p>

   <p><a href="{{i.image.url }}" class="btn btn-primary" role="button">Download</a></p>
       <p></p>
   </div>
   </div>
   </div>
</div>
{% endfor %}

</div>

</form>



{% endblock %}

</body>
</html>